<table class="table tabla">
    <thead>
        <tr>
            {{#each cabeceras}}
            <th>{{this}}</th>
            {{/each}}
        </tr>
    </thead>
    <tbody></tbody>
    <tfoot class="hidden"></tfoot>
</table>