<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form class="form-proyecto">
                <div class="form-proyecto col-md-12" style="padding:0 15px; margin:0 15px; border-bottom:1px solid #CCCCCC; margin-bottom: 15px;">
                    <h3 >Formulario de proyectos</h3>
                </div>
                <div>
                    <div class="form-group col-md-4">
                        <label for="prefijo">Prefijo:</label>
                        <input type="text" class="form-control input-sm" name="prefijo" id="prefijo" value="{{prefijo}}" />
                    </div>
                    <div class="form-group col-md-4">
                        <label for="responsable">Responsable:</label>
                        <select class="form-control input-sm" name="responsable" id="responsable" >
                            <option value="-1">Selecciona un responsable</option>
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="estado">Estado:</label>
                        <select class="form-control input-sm" name="estado" id="estado" >
                            <option value="-1">Selecciona un estado</option>
                        </select>
                    </div>
                    <div class="form-group col-md-12">
                        <label for="nombre">Nombre:</label>
                        <input type="text" class="form-control input-sm" name="nombre" id="nombre" value="{{nombre}}" />
                    </div>
                    <div class="form-group col-md-12">
                        <label for="descripcion">Descripción:</label>
                        <textarea class="form-control input-sm" name="descripcion" id="descripcion" rows="10">{{descripcion}}</textarea>
                    </div>

                    <div class="form-group col-md-12">
                        <button id="btnGuardar" class="btn btn-primary" type="button">Guardar</button>
                        <button id="btnCancelar" class="btn btn-default" type="button">Cancelar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>