<div class="panel panel-default">
    <div class="panel-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2"><strong>{{nombre}}</strong></div>
                <div class="col-md-2"><strong>{{apellido}}</strong></div>
            </div>
            <div class="row">
                <div class="col-md-2"><strong>Departamento</strong></div>
                <div class="col-md-2">Ventas</div>
                <div class="col-md-2"><strong>Responsable</strong></div>
                <div class="col-md-2">Paco</div>
            </div>
        </div>
    </div>
</div>
