<div class="panel panel-default">
    <div class="panel-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-1">
                    <img class="avatar" src="https://i0.wp.com/d3oaxc4q5k2d6q.cloudfront.net/m/9ac04f7b4548/img/default_avatar/256/user_blue.png?ssl=1" alt="maikel_mg" title="maikel_mg" style="height: 96px;width: 96px; background-color: #017ebc;">
                </div>
                <div class="col-md-11" style="font-size: 24px;">
                    <strong>{{nombre}}</strong> <strong>{{apellidos}}</strong>
                    <br/>
                    <span style="font-size: 13px; color: #888">Nombre de usuario: {{login}}</span>
                </div>
            </div>
        </div>
    </div>
</div>
