<ul class="nav nav-pills" data-tabs="tabs">
    <li>
        <a href="#proyectos" data-toggle="tab">Proyectos</a>
    </li>
    <li>
        <a href="#tareas" data-toggle="tab"> Tareas <span class="badge">3</span></a>
    </li>
</ul>
